<%= render 'shared/operator_nav' %>
<div class="flex flex-col items-center p-5 pt-20">
	<div class="font-bold text-sky-900">
		Show Muscle Group
	</div>
	<div class="flex flex-col gap-4 border rounded-sm">
		<table>
			<tbody>
				<tr class="hover:bg-sky-500/20 hover:cursor-default text-gray-500">
					<td class="px-4 py-2">
						<div class="select-all">
							<%= @muscle_group.id %>
						</div>
					</td>
					<td class="px-4 py-2">
						<%= @muscle_group.name %>
					</td>
					<td class="px-4 py-2">
						<div class="flex items-center gap-4">
							<%= link_to 'edit', edit_operator_fitness_muscle_group_path(@muscle_group), class: "underline text-sm" %>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>